#canvas {
    width: 100%;
    background-color: bisque;
    border: 2px solid black;
   }
button {
       width:50px;
       height: 30px;
       margin-bottom: 5px;
       background-color: bisque;
}

body {
    width:60%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: azure;
}

    